body
{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(8, 11, 10);
}
#conteiner
{
width: 100%;
padding:1em;
text-align: left;
border: 10px solid rgba(38, 15, 187, 0.867);
margin: 0 auto;
}